{% extends "base.html" %}

{% block content %}
<div>
    <a href="/new-ticket" class="btn btn-primary">Demander une critique</a>
    <a href="/new-review" class="btn btn-primary">Créer une critique</a>
</div>
<div>
    {% for obj in objects %}
        {% if obj.title %}
            <span>
                {{obj.user}} a demandé une critique {{obj.time_created}}<br>
                {{obj.title}}<br>
                {{obj.description}}<br>
                {{obj.image}}<br>
                <a href="{% url 'answer' obj.id %}" class="btn btn-primary">Créer une critique</a>
            </span><br><br><br>
        {% else %}
            <span>
                {{obj.user}} à publié une revue {{obj.time_created}}<br>
                Ticket {{obj.ticket.id}} - {{obj.ticket.user}}<br>
                {{obj.ticket.title}}<br>
                {{obj.ticket.description}}<br>
            </span><br><br><br>
        {% endif %}
    {% endfor %}
</div>
{% endblock %}