{% extends "base.html" %}

{% block content %}
<div class="d-flex justify-content-around m-5">
    <a href="/new-ticket" class="btn btn-primary">Demander une critique</a>
    <a href="/new-review" class="btn btn-primary">Créer une critique</a>
</div>
<div class="container">

    {% for obj in objects %}
        {% if obj.title %}
            <div class="container bg-white text-dark border border-dark mb-5 p-3">
                <div class="d-flex justify-content-center text-dark"><h3>Demande</h3></div>
                {% if obj.user == user %}
                <div class="row mt-2 mb-2 ">
                    <div class="col-10">Vous avez demandé une critique</div>
                    <div class="col-2">{{obj.time_created|date:'d/m/Y H:i'}}</div>
                </div>
                {% else %}
                <div class="row mt-2 mb-2">
                    <div class="col-10">{{obj.user}} a demandé une critique</div>
                    <div class="col-2">{{obj.time_created|date:'d/m/Y H:i'}}</div>
                </div>
                {% endif %}
                <div class="row mt-2 mb-2">
                    <div class="col-10">{{obj.title}}</div>
                </div>
                <div class="row mt-2 mb-2">
                    <div class="col-10">{{obj.description}}</div>
                </div>
                {% load static %}
                {% if obj.image %}
                    <div class="row mt-2 mb-2">
                        <div class="col-10">
                            <img src="{{obj.image.url}}"/>
                        </div>
                    </div>
                {% endif %}
                {% for ticket in other %}
                    {% if ticket == obj %}
                        <div class="row justify-content-end mt-2 mb-2">
                            <div class="col-2">
                                <a href="{% url 'answer' obj.id %}" class="btn btn-primary">Créer une critique</a>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        {% else %}
            <div class="container bg-secondary text-white border border-dark mb-5 p-3">
                <div class="d-flex justify-content-center text-dark"><h3>Critique</h3></div>
                {% if obj.user == user %}
                    <div class="row mt-2 mb-2">
                        <div class="col-10">Vous avez publié une critique</div>
                        <div class="col-2">{{obj.time_created|date:'d/m/Y H:i'}}</div>
                    </div>
                {% else %}
                    <div class="row mt-2 mb-2">
                        <div class="col-10">{{obj.user}} a publié une critique</div>
                        <div class="col-2">{{obj.time_created|date:'d/m/Y H:i'}}</div>
                    </div>
                {% endif %}
                <div class="row mt-2 mb-2">
                        <div class="col-10">
                            {{obj.headline}} -
                            {% with ''|center:5 as range %}
                            {% for _ in range %}
                                {% if forloop.counter <= obj.rating %}
                                <span class="fa fa-star checked"></span>
                                {% else %}
                                <span class="fa fa-star"></span>
                                {% endif %}
                            {% endfor %}
                            {% endwith %}
                        </div>
                </div>
                <div class="row mt-2 mb-2">
                        <div class="col-10">{{obj.body}}</div>
                </div>
                <div class="container bg-white text-dark border border-dark mb-3 mt-3">
                    <div class="row mt-2 mb-2">
                        <div class="col-10">Ticket - {{obj.ticket.user}}</div>
                    </div>
                    <div class="row mt-2 mb-2">
                        <div class="col-10">{{obj.ticket.title}}</div>
                    </div>
                    {% load static %}
                    {% if obj.ticket.image %}
                        <div class="row mt-2 mb-2">
                            <div class="col-10">
                                <img src="{{obj.ticket.image.url}}"/>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endif %}
    {% endfor %}
</div>
{% endblock %}