{% extends "base.html" %}

{% block content %}
<div class="container mb-3">
    <a href="/new-ticket" class="btn btn-primary">Demander une critique</a>
    <a href="/new-review" class="btn btn-primary">Créer une critique</a>
</div>

<div class="container ">
    {% for obj in objects %}
        {% if obj.title %}
            <div class="container border border-dark mb-5 p-3">

                {% if obj.user == user %}
                <div class="row mt-2 mb-2 ">
                    <div class="col-10">Vous avez demandé une critique</div>
                    <div class="col-2">{{obj.time_created}}</div>
                </div>
                {% else %}
                <div class="row mt-2 mb-2">
                    <div class="col-10">{{obj.user}} a demandé une critique</div>
                    <div class="col-2">{{obj.time_created}}</div>
                </div>
                {% endif %}
                <div class="row mt-2 mb-2">
                    <div class="col-10">{{obj.title}}</div>
                </div>
                <div class="row mt-2 mb-2">
                    <div class="col-10">{{obj.description}}</div>
                </div>
                {% load static %}
                {% if obj.image %}
                    <div class="row mt-2 mb-2">
                        <div class="col-10">
                            <img src="{{obj.image.url}}"/>
                        </div>
                    </div>
                {% endif %}
                <div class="row justify-content-end mt-2 mb-2">
                    <div class="col-2">
                        <a href="{% url 'answer' obj.id %}" class="btn btn-primary">Créer une critique</a>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="container border border-dark mb-5 p-3">

                {% if obj.user == user %}
                    <div class="row mt-2 mb-2">
                        <div class="col-10">Vous avez publié une critique</div>
                        <div class="col-2">{{obj.time_created}}</div>
                    </div>
                {% else %}
                    <div class="row mt-2 mb-2">
                        <div class="col-10">{{obj.user}} a publié une critique</div>
                        <div class="col-2">{{obj.time_created}}</div>
                    </div>
                {% endif %}
                <div class="row mt-2 mb-2">
                        <div class="col-10">{{obj.body}}</div>
                </div>
                <div class="container border border-dark mb-3 mt-3">
                    <div class="row mt-2 mb-2">
                        <div class="col-10">Ticket - {{obj.ticket.user}}</div>
                    </div>
                    <div class="row mt-2 mb-2">
                        <div class="col-10">{{obj.ticket.title}}</div>
                    </div>
                    {% if obj.image %}
                        <div class="row mt-2 mb-2">
                            <div class="col-10">
                                <img src="{{obj.image.url}}"/>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endif %}
    {% endfor %}
</div>
{% endblock %}