{% extends "base.html" %}

{% block content %}
<div>
    {% for obj in objects %}
        {% if obj.title %}
            <span>
                Vous avez a demandé une critique {{obj.time_created}}<br>
                {{obj.title}}<br>
                {{obj.description}}<br>
                <a href="#" class="btn btn-primary">Modifier</a>
                <a href="#" class="btn btn-primary">Supprimer</a>
            </span><br><br><br>
        {% else %}
            <span>
                Vous avez à publié une revue {{obj.time_created}}<br>
                Ticket {{obj.ticket.id}} - {{obj.ticket.user}}<br>
                {{obj.ticket.title}}<br>
                {{obj.ticket.description}}<br>
                <a href="#" class="btn btn-primary">Modifier</a>
                <a href="#" class="btn btn-primary">Supprimer</a>
            </span><br><br><br>
        {% endif %}
    {% endfor %}
</div>
{% endblock %}