{% extends "base.html" %}

{% block content %}
<div class="container">
    {% for obj in objects %}
        {% if obj.title %}
            <div class="container border border-dark mb-5 p-3">
                <div class="row mt-2 mb-2">
                    <div class="col-10">Vous avez a demandé une critique</div>
                    <div class="col-2">{{obj.time_created}}</div>
                </div>
                <div class="row mt-2 mb-2">
                    <div class="col-10">{{obj.title}}</div>
                </div>
                <div class="row mt-2 mb-2">
                    <div class="col-10">{{obj.description}}</div>
                </div>
                <div class="row justify-content mt-2 mb-2">
                    <div class="col-2">
                        <a href="{% url 'edit-ticket' obj.id %}" class="btn btn-primary">Modifier</a>
                        <a href="{% url 'delete-ticket' obj.id %}" class="btn btn-primary">Supprimer</a>
                    </div>
                </div>
                </div>
        {% else %}
            <div class="container border border-dark mb-5 p-3">
                <div class="row mt-2 mb-2">
                        <div class="col-10">Vous avez publié une critique</div>
                        <div class="col-2">{{obj.time_created}}</div>
                </div>
                <div class="row mt-2 mb-2">
                        <div class="col-10">{{obj.body}}</div>
                </div>
                <div class="container border border-dark mb-3 mt-3">
                    <div class="row mt-2 mb-2">
                        <div class="col-10">Ticket - {{obj.ticket.user}}</div>
                    </div>
                    <div class="row mt-2 mb-2">
                        <div class="col-10">{{obj.ticket.title}}</div>
                    </div>
                    {% if obj.image %}
                        <div class="row mt-2 mb-2">
                            <div class="col-10">
                                <img src="{{obj.image.url}}"/>
                            </div>
                        </div>
                    {% endif %}

                </div>
            <div class="row justify-content-end mt-2 mb-2">
                <div class="col-2">
                    <a href="{% url 'edit-review' obj.id %}" class="btn btn-primary">Modifier</a>
                    <a href="{% url 'delete-review' obj.id %}" class="btn btn-primary">Supprimer</a>
                </div>
            </div>
            </div>
        {% endif %}
    {% endfor %}
</div>
{% endblock %}