{% extends "base.html" %}

{% block content %}
<div class="container">
    <h3>Suivre d'autres utilisateurs</h3>
    <form action="{% url 'search-user' %}" method="get">
        <input type="text" name="username" placeholder="Chercher">
        <button type="submit">Search</button>
    </form>
    <h3>Abonnements</h3>
    {% for follow in follows %}
        <div class="container">
            <div class="row">
                <div class="col-10 border border-dark">{{follow.followed_user.username}}</div>
                <a href="{% url 'unsubscribe' follow.id %}" class="btn btn-primary col-2 border border-dark">Désabonner</a>
            </div>
        </div>
    {% endfor %}

    <h3>Abonnés</h3>
    {% for follow in followed %}
    <div class="container">
        <div class="row border border-dark">{{follow.user.username}}</div>
    </div>
    {% endfor %}
</div>
{% endblock %}